/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  width: 100%;
  background-color: var(--bg-color);
  min-height: calc(100vh - 125px);
  background-image: url("../../imgs/Glow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUs .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs Navlinks
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .links {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  transition: var(--main-transition);
}
.ContactUs .container .links .menu-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  transition: var(--main-transition);
}
.ContactUs .container .links .menu-nav a {
  position: relative;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  transition: var(--main-transition);
}
.ContactUs .container .links .menu-nav a:not(:first-child)::before {
  position: absolute;
  content: "\f105";
  font-weight: 900;
  font-family: "Font Awesome 5 free";
  right: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.ContactUs .container .menu-nav a.active {
  color: var(--main-color);
}
.ContactUs .container .links .Favorite-ele {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  color: var(--gray-color);
}
.ContactUs .container .links .Favorite-ele:hover {
  font-weight: bold;
  color: var(--red-color);

  box-shadow: var(--main-box-shadow-red);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs Content
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .ContactUs .container .content {
    flex-direction: column;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .content .left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 50%;
}

.ContactUs .container .content .left h1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--red-color);
  text-shadow: var(--main-text-shadow-red);
}
.ContactUs .container .content .left p {
  color: var(--main-color);
  line-height: 1.7;
  letter-spacing: 1px;
  text-align: justify;
  width: 90%;
}
@media (max-width: 992px) {
  .ContactUs .container .content .left p {
    width: 100%;
  }
}
.ContactUs .container .content .contact-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ContactUs .container .content .contact-box .contact {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--main-transition);
  font-weight: bold;
  color: var(--gray-color);
  cursor: pointer;
  width: fit-content;
}
.ContactUs .container .content .contact-box .contact:hover {
  color: var(--red-color);
}

.ContactUs .container .content .contact-box i {
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  box-shadow: var(--main-text-shadow);
  color: var(--gray-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.ContactUs .container .content .contact-box .contact:hover i {
  background-color: var(--red-color);
  color: var(--white-color);
}
.ContactUs .container .content .left .social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ContactUs .container .content .left .social i {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--gray-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.ContactUs .container .content .left .social i:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs right
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .content .right {
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  flex-basis: 50%;
}
@media (max-width: 992px) {
  .ContactUs .container .content .right,
  .ContactUs .container .content .left {
    flex-basis: 100%;
  }
}
.ContactUs .container .content .right .box {
  position: relative;
  display: flex;
  width: 100%;
  gap: 10px;
}
.ContactUs .container .content .right .box .input-box {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100%;
}
.ContactUs .container .content .right .box .input-box label {
  position: relative;
  color: var(--gray-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.ContactUs .container .content .right .box .input-box input {
  padding: 15px;
  border: 1px solid #bebebe;
  color: #3d3d3d;
  caret-color: var(--main-color);
  border-radius: 5px;
  width: 100%;
  transition: var(--main-transition);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
}

.ContactUs .container .content .right .box .input-box input::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  transition: var(--main-transition);
}
.ContactUs .container .content .right .box .input-box input:focus {
  outline: none;
  border: 1px solid var(--red-color);
}
.ContactUs .container .content .right .box .input-box input:focus::placeholder {
  opacity: 0;
}
.ContactUs .container .content .right .box .input-box input[type="button"] {
  background-color: var(--red-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  transition: var(--main-transition);
  cursor: pointer;
  box-shadow: var(--main-box-shadow-red);
  width: 100%;
}
.reservation .container input[type="button"]:hover {
  background-color: #bf2222;
}
.ContactUs .container .content .right .box .input-box textarea {
  position: relative;
  width: 100%;
  height: 150px;
  padding: 15px;
  resize: none;
  border: 1px solid #bebebe;
  color: #3d3d3d;
  caret-color: var(--main-color);
  border-radius: 5px;
  transition: var(--main-transition);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
}
.ContactUs .container .content .right .box .input-box textarea::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  transition: var(--main-transition);
}
.ContactUs .container .content .right .box .input-box textarea:focus {
  outline: none;
}
.ContactUs
  .container
  .content
  .right
  .box
  .input-box
  textarea:focus::placeholder {
  opacity: 0;
}
.ContactUs .container .content .right .box .input-box input:focus + label,
.ContactUs .container .content .right .box .input-box textarea:focus ~ label {
  color: var(--red-color);
  font-weight: 400;
}
