/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  width: 100%;
}

.ContactUs .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .ContactUs .container {
    flex-direction: column;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 50%;
}

.ContactUs .container .left h1 {
  color: var(--red-color);
  text-shadow: var(--main-text-shadow-red);
}
.ContactUs .container .left p {
  color: var(--gray-color);
  line-height: 1.7;
  letter-spacing: 1px;
  text-align: justify;
  width: 90%;
}
@media (max-width: 992px) {
  .ContactUs .container .left p {
    width: 100%;
  }
}
.ContactUs .container .contact-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ContactUs .container .contact-box .contact {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--main-transition);
  font-weight: bold;
  color: var(--gray-color);
  cursor: pointer;
  width: fit-content;
}
.ContactUs .container .contact-box .contact:hover {
  color: var(--red-color);
}

.ContactUs .container .contact-box i {
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  box-shadow: var(--main-text-shadow);
  color: var(--gray-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.ContactUs .container .contact-box .contact:hover i {
  background-color: var(--red-color);
  color: var(--white-color);
}
.ContactUs .container .left .social {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.ContactUs .container .left .social i {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.ContactUs .container .left .social i:hover {
  background-color: var(--red-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ContactUs right
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ContactUs .container .right {
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 50%;
}
@media (max-width: 992px) {
  .ContactUs .container .right,
  .ContactUs .container .left {
    flex-basis: 100%;
  }
}
.ContactUs .container .right .box {
  position: relative;
  display: flex;
  width: 100%;
  gap: 10px;
}
.ContactUs .container .right .box .input-box {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  width: 100%;
}
.ContactUs .container .right .box .input-box label {
  position: relative;
  color: var(--gray-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.ContactUs .container .right .box .input-box input {
  padding: 15px;
  border: 1px solid #bebebe;
  color: #3d3d3d;
  caret-color: var(--main-color);
  border-radius: 5px;
  width: 100%;
  transition: var(--main-transition);
  width: 100%;
}

.ContactUs .container .right .box .input-box input::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  transition: var(--main-transition);
}
.ContactUs .container .right .box .input-box input:focus {
  outline: none;
}
.ContactUs .container .right .box .input-box input:focus::placeholder {
  opacity: 0;
}
.ContactUs .container .right .box .input-box input[type="button"] {
  background-color: var(--red-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  transition: var(--main-transition);
  cursor: pointer;
  box-shadow: var(--main-box-shadow-red);
  width: 100%;
}
.reservation .container input[type="button"]:hover {
  background-color: #bf2222;
}
.ContactUs .container .right .box .input-box textarea {
  position: relative;
  width: 100%;
  height: 150px;
  padding: 15px;
  resize: none;
  border: 1px solid #bebebe;
  color: #3d3d3d;
  caret-color: var(--main-color);
  border-radius: 5px;
  transition: var(--main-transition);
}
.ContactUs .container .right .box .input-box textarea::placeholder {
  text-transform: capitalize;
  font-size: 15px;
  transition: var(--main-transition);
}
.ContactUs .container .right .box .input-box textarea:focus {
  outline: none;
}
.ContactUs .container .right .box .input-box textarea:focus::placeholder {
  opacity: 0;
}
.ContactUs .container .right .box .input-box input:focus + label,
.ContactUs .container .right .box .input-box textarea:focus ~ label {
  color: var(--red-color);
  font-weight: 400;
}
