/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Footer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 9999999;
}
.loading .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.loading .container p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: var(--main-transition);
  color: var(--main-color);
}
.loading .container .bullets {
  position: relative;
  display: flex;
  gap: 15px;
}
.loading .container .bullets .bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: up_and_down 0.9s alternate-reverse ease-in-out infinite;
  transition: var(--main-transition);
}
.loading .container .bullets .bullet:nth-child(1) {
  background-color: var(--orange-color-alt);
  animation-delay: 0.4s;
}
.loading .container .bullets .bullet:nth-child(2) {
  background-color: var(--red-color);
  animation-delay: 0.6s;
}
.loading .container .bullets .bullet:nth-child(3) {
  background-color: aliceblue;
}
@keyframes up_and_down {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0px);
  }
}
